<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css"  href="static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="static/vendor/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container-fluid"> 
        <h1>Become a part of Team Name!</h1> 
        <div class ="container-fluid">

            <form>
                <div></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Let us keep in touch</small>
                </div>
                <div class = "form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="John">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Doe">
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
</body>
</html>
